@font-face {
	font-family: 'SBSansDisplay-Regular';
	src: url(../fonts/SBSansDisplay-Regular.ttf) format('ttf'),
		url(../fonts/SBSansDisplay-Regular.woff) format('woff'),
		url(../fonts/SBSansDisplay-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'SBSansText-Regular';
	src: url(../fonts/SBSansText-Regular.ttf) format('ttf'),
		url(../fonts/SBSansText-Regular.woff) format('woff'),
		url(../fonts/SBSansText-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'SBSansDisplay-SemiBold';
	src: url(../fonts/SBSansDisplay-SemiBold.ttf);
}

@font-face {
	font-family: 'SBSansDisplay-Bold';
	src: url(../fonts/SBSansDisplay-Bold.ttf);
}