//colors
$white: #fff;
$light: #f5faff;
$gray: #ffffffde;
$semi-gray: #454646;
$ui: #1c568c;
$form-ui: #285292;
$border: #0475ff;
$shadow: #0061bb91;
$gray-blue: #a6b8c9;
$biz: #23a596;
$pro: #197970;
$green-dark: #fcfdff;
$semi-dark: #00000080;
$dark: #242424;

$blueToRed: linear-gradient(45deg, #0061bb, #b3131375, #ff000000);
$blueToWhite: linear-gradient(128deg, #0071ffeb 43%, #f5fafe 100%);